body, html{
    margin: auto;
}

.navbar-custom{
    background-color: rgb(231, 231, 231);
}

img.resize-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.custom-container{
    margin-top: 30px;
    margin-bottom: 40px;
}

.custom-link{
    margin: 10px;
}

.padded-h3{
    padding: 30px;
    text-align: center;
}

.custom-card{
    padding: 30px;
}
.custom-btn{
    width: 60%;
    margin: auto;
    border-radius: 50px;
}

.searchResults{
    padding: 20px;
}

.re-size{
    height: 50px;
    width: 50px;
}

.custom-cont-2{
    background-color: rgb(182, 174, 174);
    height: 150px;
}

.cent{
    margin: auto;
}